In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\SAI\Downloads\Survey_Resp.csv")

In [5]:
df.head() # print first 5 rows of data set

,RESP_ID,SUR_SCORE,MASKED_IP,CRT_DT,COUNTRY_CODE,REGION
0,13071656,8,"MTQ5,Dk1,TMy,A==",1/18/2018 8:48,FI,uusimaa
1,13071811,10,"MTM0Mjk4,TE0OA==",1/18/2018 8:59,FR,ile-de-france
2,13071889,9,"MzY4,DgzOTU=",1/18/2018 9:05,AE,dubai
3,13071909,10,MTM4MzU5MjY2Mg==,1/18/2018 9:06,CZ,praha
4,13071920,10,"MzU3ODcz,Tg1OA==",1/18/2018 9:07,IE,NaN

In [7]:
df.shape #no.of rows & columns in the given data set

(4788, 6)

In [8]:
a = df.tail(4) # Assigned last 4 rows of dataset through tail to variable a

In [9]:
a # printing the values that are passed into a

,RESP_ID,SUR_SCORE,MASKED_IP,CRT_DT,COUNTRY_CODE,REGION
4784,14280186,10,"MTY1OTMy,TgzMg==",2/28/2018 20:45,US,florida
4785,14280278,8,"MzA5MDcxOTY1,w==",2/28/2018 20:48,US,ohio
4786,14281021,8,"MzQ1MTc1MTQz,Q==",2/28/2018 21:13,NaN,NaN
4787,14281427,9,"MzYy,TQz,jk4,g==",2/28/2018 21:27,US,texas

In [10]:
df.columns

Index(['RESP_ID', 'SUR_SCORE', 'MASKED_IP', 'CRT_DT', 'COUNTRY_CODE',
       'REGION'],
      dtype='object')

In [18]:
pd.unique(df['COUNTRY_CODE']) # printing all the Unique values of the column COUNTRY_CODE to a list
pd.unique(df['COUNTRY_CODE'].tolist()) # this command this all the below diplayed values as list

array(['FI', 'FR', 'AE', 'CZ', 'IE', 'HU', 'GB', 'IN', 'IT', 'VN', 'DK',
       'NL', 'BE', 'AU', 'PL', 'NP', 'SE', 'BR', 'NO', 'DE', 'US', 'IL',
       'UA', 'DO', 'CL', 'CA', 'ES', 'AR', 'JP', 'EC', 'ZA', 'GH', 'RS',
       'PH', 'PT', 'AT', 'LU', 'MX', 'CH', 'ID', 'CO', 'RO', 'NZ', 'GR',
       'SG', 'MA', 'MN', 'RU', 'LK', 'TW', 'KE', 'MU', 'ME', 'AM', 'EE',
       'IR', nan, 'TH', 'BS', 'CR', 'PA', 'MY', 'RE', 'SI', 'BG', 'PK',
       'NG', 'EG', 'MZ', 'LV', 'IS', 'AZ', 'TR', 'BH', 'PS', 'CN', 'HR',
       'SK', 'ZM', 'GT', 'UY', 'PE', 'BO', 'KH', 'HK', 'LT', 'CY', 'AI',
       'MT', 'NI', 'TN', 'SN', 'PY', 'VE', 'HN', 'PR', 'DZ', 'SV', 'BY',
       'KW', 'SA', 'AO'], dtype=object)

In [16]:
numOfRows = len(df.index) # displaying row count of dataframe by finding the length of index labels
print (numOfRows)

4788

In [22]:
# display the values of the First column that has country code as US
RespVal = df[df['COUNTRY_CODE'] == 'US']
RespVal['RESP_ID']

37      13074744
48      13075971
56      13076664
66      13077435
68      13077516
          ...
4782    14279629
4783    14279849
4784    14280186
4785    14280278
4787    14281427
Name: RESP_ID, Length: 1468, dtype: int64