In [3]:
import pandas as pd

In [5]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

In [10]:
survey = pd.read_csv(r'C:\Users\SAI\Downloads\Survey_Resp.csv')

In [11]:
print(survey)

       RESP_ID  SUR_SCORE         MASKED_IP           CRT_DT COUNTRY_CODE  \
0     13071656          8  MTQ5,Dk1,TMy,A==   1/18/2018 8:48           FI
1     13071811         10  MTM0Mjk4,TE0OA==   1/18/2018 8:59           FR
2     13071889          9      MzY4,DgzOTU=   1/18/2018 9:05           AE
3     13071909         10  MTM4MzU5MjY2Mg==   1/18/2018 9:06           CZ
4     13071920         10  MzU3ODcz,Tg1OA==   1/18/2018 9:07           IE
...        ...        ...               ...              ...          ...
4783  14279849         10  MTYxMzE2,jc1,A==  2/28/2018 20:35           US
4784  14280186         10  MTY1OTMy,TgzMg==  2/28/2018 20:45           US
4785  14280278          8  MzA5MDcxOTY1,w==  2/28/2018 20:48           US
4786  14281021          8  MzQ1MTc1MTQz,Q==  2/28/2018 21:13          NaN
4787  14281427          9  MzYy,TQz,jk4,g==  2/28/2018 21:27           US

             REGION
0           uusimaa
1     ile-de-france
2             dubai
3             praha
4               NaN
...             ...
4783        georgia
4784        florida
4785           ohio
4786            NaN
4787          texas

[4788 rows x 6 columns]

In [15]:
survey.head()

,RESPONSE_ID,SURVEY_SCORE,MASKED_IP,SURVEY_DATE,COUNTRY_CODE,REGION
0,13071656,8,"MTQ5,Dk1,TMy,A==",1/18/2018 8:48,FI,uusimaa
1,13071811,10,"MTM0Mjk4,TE0OA==",1/18/2018 8:59,FR,ile-de-france
2,13071889,9,"MzY4,DgzOTU=",1/18/2018 9:05,AE,dubai
3,13071909,10,MTM4MzU5MjY2Mg==,1/18/2018 9:06,CZ,praha
4,13071920,10,"MzU3ODcz,Tg1OA==",1/18/2018 9:07,IE,NaN

In [13]:
survey.columns

Index(['RESP_ID', 'SUR_SCORE', 'MASKED_IP', 'CRT_DT', 'COUNTRY_CODE',
       'REGION'],
      dtype='object')

In [16]:
headers = ["RESPONSE_ID","SURVEY_SCORE", "MASKED_IP", "SURVEY_DATE", "COUNTRY_CODE", "REGION"]
survey.columns = headers